.wrapper{
    align-items: center;
    background-color: white;
    color: #babfb7;
    display: flex;
    flex-direction: column;
    font-family: Segoe UI;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    width: auto;
  }

  .wrapper-dataCollect{
    align-items: center;
    background-color: #02243e;
    display: flex;
    flex-direction: column;
    font-family: Segoe UI;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    width: auto;
  }
  
  .main-title{
    /* margin: 20px; */
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }
  
  .subtitle-1{
    margin: 0px;
    margin-bottom: 25px;
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }
  
  .center {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  .logo {
    margin: 50px;
    margin-left: 650px;
    margin-right: 650px;
  }
  
  .subtitle-2{
    margin-bottom: 25px;
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }

  .subtitlechange{
    background-color: #02243e;
    margin-bottom: 15px;
    padding: 10px;
    width: 98.8%;
  }

  .subtitlechange .wrappers{
    display: flex;
  }

  .subtitlechange .wrappers .right{
    margin-top: 50px;
    margin-left: 32rem;
  }
  .subtitlechange .wrappers .center{
    margin-top: 34px;
    font-size: 20px;
    display: block!important;
    margin-left: 32rem;
  }
  .subtitlechange .wrappers .left{
    margin-left: 2.5rem;
  }
  .subtitlechange .wrappers .center .main-title{
    font-family: Arial, Helvetica, sans-serif;
  }

  .css-8c8mkq-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:focus{
    background-color: rgba(254, 80, 0, 0.493);
    transition: .3s;
  }
  .css-8c8mkq-MuiButtonBase-root-MuiMenuItem-root:hover{
    background-color: #babfb78e!important;
    color:#02243e;
    transition: .3s;
  }

  .points-landingpage{
    color: #02243e;
  }

  .login-title{
    color: #02243e;
  }

  /* .subtitlechange .wrapper{
    display: flex;
    width: 100%;
    height: 97%;
    color: purple;
    padding-left: 1rem;
    margin-top: 0;
    background-color: #02243e;
  } */
  
  .text-box{  
    background-color: #babfb7;
    margin-left: 700px;
    margin-right: 700px;
  }
  .outline-box{
    outline: 3px solid #babfb7;
    margin: 10px;
    min-width: 160px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .plus-minus-button{
    color: #fe5000;
    background-color: #babfb7;
  }
  
  .plus-minus-margin{
    margin-right: -3.9px;
  }
  
  .button{
    color: #fe5000;
    background-color: #babfb7;
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 600px;
  }

  .landingpage-forms{
    margin-bottom: 1rem!important;
  }
  #outlined-basic{
    min-width: 18rem!important;
    color: #02243e;
  }
  #outlined-basic1{
    border-bottom: solid gray;
    min-width: 18rem!important;
    background-color: #444a4e2c;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  #outlined-basic-label{
    color:#02243e;
  }

  #lang{
    border: solid gray;
  }

  .landingpage-logo{
    height: 9rem;
  }

  .lang-width{
    min-width: 180px!important;
  }

  @media only screen and (max-width: 700px) {
    .subtitlechange .wrappers .center{
      margin-left: 5px;
      font-size: 18px;
    }
    .subtitlechange .wrappers .right{
      margin-left: 5px;
      margin-right: 5px;
    }
    .subtitlechange .wrappers .left{
      margin-left: 0rem;
    }
    .wrapper-dataCollect{
      min-width: 50%!important;
    }
  }