.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #babfb7;
    background-color: #02243e;
    font-family: "Segoe UI";
    
  }
  
  .main-title{
    margin: 20px;
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }
  
  .subtitle-1{
    margin: 0px;
    margin-bottom: 25px;
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }
  
  .center {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  .logo {
    margin: 50px;
    margin-left: 650px;
    margin-right: 650px;
  }
  
  .subtitle-2{
    margin-bottom: 25px;
    color: #fe5000;
    font-family: "AmazObitaemOstrov"; 
  }
  .subtitlechange{
    display: flex;
    width: 100%;
    color: purple;
  }
  
  .text-box{  
    background-color: #babfb7;
    margin-left: 700px;
    margin-right: 700px;
  }
  .outline-box{
    outline: 3px solid #babfb7;
    margin: 10px;
    padding: 8px;
  }
  
  .plus-minus-button{
    color: #fe5000;
    background-color: #babfb7;
  }
  
  .plus-minus-margin{
    margin-right: 25px;
  }
  
  
  .button{
    color: #fe5000;
    background-color: #babfb7;
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 600px;
  }