.wrapper-dataCollect {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: var(--silver2338);
	background-color: var(--blue2338);
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	box-sizing: border-box;
}

.logo {
	width: 64px;
}

.app-name {
	margin-bottom: 25px;
	color: var(--orange2338);
}

.outline-box {
	border: 3px solid var(--silver2338);
	margin: 10px;
	padding-bottom: 10px;
	text-align: center;
	min-width: 160px;
}

.scores-wrapper {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
	height: fit-content;
}

.plus-minus-button {
	color: var(--orange2338);
	background-color: var(--silver2338);
	margin-right: 12px !important;
	margin-left: 12px !important;
}

.button {
	color: var(--orange2338);
	background-color: var(--silver2338);
	margin-top: 50px !important;
	margin-left: 600px;
	margin-right: 600px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
	background-color: var(--blue2338);
}

a:link {
	color: var(--orange2338);
}

a:visited {
	color: var(--orange2338);
}

a:hover {
	color: var(--silver2338);
}

a:active {
	color: var(--silver2338);
}

#robot-number-input, #match-number-input {
	min-width: 10em;
}

.data_form {
	margin-bottom: 1rem !important;
}

.hangar-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 16px;
	width: fit-content;
	justify-content: space-around;
}
